/* Light Mode Colors */

:root {
    --body-color: #e5f1f6;
    --text-color: #000;
    --header-bgcolor: #f5f5f5;
    --box-bgcolor: #fff;
    --calc-state-and-display-bgcolor: #fff;
    --buttons-box-bgcolor: #f0f3f4;
    --buttons-bgcolor: #fff;
    --buttons-hover-bgcolor: #f3f3f3;
    --dmsa-buttons-bgcolor: #f3f3f3;
    --dmsa-buttons-hover-bgcolor: #fff;
    --buttons-box-shadow-color: #636363;
}

/* Darkmode Colors */

.darkmode {
    --body-color: #262626;
    --text-color: #fff;
    --header-bgcolor: #333333;
    --box-bgcolor: #333333;
    --calc-state-and-display-bgcolor: #333333;
    --buttons-box-bgcolor: #262626;
    --buttons-bgcolor: #404040;
    --buttons-hover-bgcolor: #2e2e2e;
    --dmsa-buttons-bgcolor: #2e2e2e;
    --dmsa-buttons-hover-bgcolor: #404040;
    --buttons-box-shadow-color: #000;
}

* {
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease-in-out 200ms;
}

body {
    background-color: var(--body-color);
}

/* Header and Menu */

svg {
    fill: #000;
}

.darkmode svg {
    fill: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--header-bgcolor);
    box-shadow: 0 0 4px 0 #000;
}

header h4 {
    margin-left: 25px;
    font-size: 17.5px;
    font-weight: 500;
}

.menu-button {
    margin-right: 22px;
    display: flex;
    align-items: center;
    padding: 0 3px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0067b8;
    svg { fill: #fff; }
}

/* Main Calculator Box */

.calculator {
    width: 325px;
    height: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 16vh;
    box-shadow: 0 0 7px 0 #000;
    border-radius: 10px;
    background-color: var(--box-bgcolor);
}

#calc-state {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    padding: 0 13px 5px;
    align-content: center;
    font-size: 14px;
    text-align: right;
    border-radius: 10px 10px 0 0;
    background-color: var(--calc-state-and-display-bgcolor);
}

#display {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    padding: 0 15px 12px;
    text-align: right;
    font-size: 48px;
    font-weight: 400;
    caret-color: transparent;
    background-color: var(--calc-state-and-display-bgcolor);
    transition: all ease-in-out 0ms;
}

/* Calculator Buttons Container */

.buttons-box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    background-color: var(--buttons-box-bgcolor);
}

/* Buttons */

.clear, 
.delete {
    width: 125px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border: 0;
    box-shadow: 0 0 3px 0 var(--buttons-box-shadow-color);
    background-color: var(--buttons-bgcolor);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.clear:hover, .delete:hover {
    background-color: var(--buttons-hover-bgcolor)
}

.nine, 
.eight, 
.seven, 
.six, 
.five, 
.four, 
.three, 
.two, 
.one, 
.point {
    width: 60px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border: 0;
    box-shadow: 0 0 3px 0 var(--buttons-box-shadow-color);
    background-color: var(--buttons-bgcolor);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.seven:hover, 
.eight:hover, 
.nine:hover, 
.four:hover, 
.five:hover, 
.six:hover, 
.one:hover, 
.two:hover, 
.three:hover, 
.point:hover {
    background-color: var(--buttons-hover-bgcolor);
}

.zero {
    width: 125.5px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border: 0;
    box-shadow: 0 0 3px 0 var(--buttons-box-shadow-color);
    background-color: var(--buttons-bgcolor);
    color: var(--text-color);
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.zero:hover {
    background-color: var(--buttons-hover-bgcolor);
}

.divide, 
.multiply, 
.subtract, 
.add {
    width: 59px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border: 0;
    box-shadow: 0 0 3px 0 var(--buttons-box-shadow-color);
    background-color: var(--dmsa-buttons-bgcolor);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.divide:hover, 
.multiply:hover, 
.subtract:hover, 
.add:hover {
    background-color: var(--dmsa-buttons-hover-bgcolor);
}

.equal {
    width: 258px;
    height: 50px;
    box-sizing: border-box;
    padding: 0 0 7px 0;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border: 0;
    box-shadow: 0 0 3px 0 var(--buttons-box-shadow-color);
    background-color: #0067b8;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.equal:hover {
    background-color: #0075ce;
}

.body-main-footer {
    position: absolute;
    bottom: 40px;
    justify-self: center;
    text-align: center;
    font-size: 12px;
}

.body-main-footer a {
    color: #0091ff;
    text-decoration: none;
    cursor: pointer;
}

/* RESSPONSIVENESS */

@media only screen and (max-height: 725px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
    }

    .body-main-footer {
        position: initial;
        margin: 40px 0;
    }
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
    .calculator {
        margin-top: 12vh;
    }
}